Repository vitabaks/autobase, pull requests merged in 2025-02, with the labels that each got.

#894 Change log file path for pre/post deploy commands to /var/tmp
  automation/deploy_pgcluster.yml
  automation/vars/system.yml
Labels: sponsor's request

#893 feat: add Console Stack with Caddy, API, UI, and PostgreSQL
  console/.env.example
  console/README.md
  console/docker-compose.yml
Labels: priority: high, console

#891 WAL-G: Point-In-Time Recovery (PITR) Improvements
  automation/roles/patroni/tasks/main.yml
  automation/roles/patroni/templates/patroni.yml.j2
  automation/roles/pgbouncer/templates/pgbouncer.ini.j2
  automation/vars/main.yml
Labels: enhancement, automation

#898 Automating backups to Hetzner Object Storage (S3 bucket)
  automation/roles/cloud-resources/defaults/main.yml
  automation/roles/cloud-resources/tasks/hetzner.yml
  automation/roles/pgbackrest/tasks/auto_conf.yml
  automation/roles/wal-g/tasks/auto_conf.yml
Labels: enhancement, automation

#900 Fix task execution by replacing run_once with host condition
  automation/config_pgcluster.yml
  automation/roles/pre-checks/tasks/extensions.yml
  automation/roles/pre-checks/tasks/huge_pages.yml
  automation/roles/pre-checks/tasks/main.yml
  automation/roles/pre-checks/tasks/passwords.yml
  automation/roles/pre-checks/tasks/pgbackrest.yml
  automation/roles/pre-checks/tasks/pgbouncer.yml
Labels: enhancement
