Repository vitabaks/autobase, pull requests merged in 2025-09, with the labels that each got.

#1239 Refactor: move HAProxy node addition to add_node.yml
  automation/playbooks/add_balancer.yml
  automation/playbooks/add_node.yml
Labels: enhancement, automation

#1235 feat: add the ability to regenerate `patroni` TLS certs in config playbook
  automation/playbooks/config_pgcluster.yml
Labels: automation

#1207 feat: add `remove_node` playbook
  automation/playbooks/remove_cluster.yml
  automation/playbooks/remove_node.yml
  automation/roles/common/defaults/main.yml
  automation/roles/etcd/tasks/member_add.yml
  automation/roles/etcd/tasks/member_remove.yml
  automation/roles/patroni/tasks/config.yml
  automation/roles/patroni/tasks/main.yml
  automation/roles/patroni/tasks/patroni.yml
  automation/roles/patroni/templates/patroni.yml.j2
  automation/tags.md
Labels: new feature, automation

#1258 Use sysctl_file option for ansible.posix.sysctl module
  automation/roles/common/defaults/main.yml
  automation/roles/sysctl/tasks/main.yml
Labels: automation

#1264 formatting: Update connection string for target_session_attrs
  automation/roles/deploy_finish/tasks/main.yml
Labels: automation

#1266 fix: prevent always regenerating TLS certificates in config_pgcluster
  automation/playbooks/config_pgcluster.yml
Labels: automation

#1268 fix: ignore 'Could not find the requested service' for initial deployment
  .github/workflows/molecule.yml
  automation/roles/patroni/handlers/main.yml
Labels: automation

#1267 Add cluster scaling support for cloud providers
  automation/playbooks/add_node.yml
  automation/requirements.yml
  automation/roles/cloud_resources/tasks/aws.yml
  automation/roles/cloud_resources/tasks/azure.yml
  automation/roles/cloud_resources/tasks/digitalocean.yml
  automation/roles/cloud_resources/tasks/gcp.yml
  automation/roles/cloud_resources/tasks/hetzner.yml
  automation/roles/cloud_resources/tasks/inventory.yml
  automation/roles/cloud_resources/tasks/main.yml
  automation/roles/tls_certificate/tasks/main.yml
Labels: enhancement, automation

#1283 fix: Restrict pg_hba task to postgres_cluster group in add_node.yml
  automation/playbooks/add_node.yml
Labels: automation
