Repository vitabaks/autobase, pull requests merged in 2025-08, with the labels that each got.

#1188 Add PostgreSQL minor version support for RedHat-based distributions
  automation/roles/add_repository/tasks/main.yml
  automation/roles/common/defaults/main.yml
Labels: enhancement, automation

#1192 Add support for host-level PostgreSQL parameters
  automation/roles/common/defaults/main.yml
  automation/roles/patroni/templates/patroni.yml.j2
  automation/roles/pre_checks/tasks/huge_pages.yml
Labels: enhancement, automation

#1196 remove_cluster: Improve the pgBackRest stanza delete logic
  automation/playbooks/remove_cluster.yml
Labels: automation

#1201 Switch API access to relative path and simplify config
  README.md
  console/Dockerfile
  console/README.md
  console/docker-compose.yml
  console/service/Dockerfile
  console/service/middleware/cors.go
  console/ui/.env
  console/ui/Dockerfile
  console/ui/README.md
  console/ui/env.sh
  console/ui/nginx/nginx.conf
Labels: enhancement, UI, API

#1208 fix: duplicate HAProxy IPs in connection info
  automation/molecule/tests/roles/deploy-finish/variables/haproxy_nodes.yml
  automation/roles/deploy_finish/tasks/main.yml
Labels: automation

#1219 fix(ui): Row actions menu
  console/ui/src/app/router/Router.tsx
  console/ui/src/features/row-actions-menu/ui/index.tsx
  console/ui/src/pages/overview-cluster/ui/index.tsx
  console/ui/src/widgets/cluster-overview-table/ui/index.tsx
  console/ui/src/widgets/clusters-table/ui/index.tsx
  console/ui/src/widgets/environments-table/ui/index.tsx
  console/ui/src/widgets/operations-table/ui/index.tsx
  console/ui/src/widgets/projects-table/ui/index.tsx
  console/ui/src/widgets/secrets-table/ui/index.tsx
Labels: 🙋 Bounty claim
