Repository vitabaks/autobase, pull requests merged in 2025-03, with the labels that each got.

#904 Install Netdata monitoring by default; update config template
  automation/add_pgnode.yml
  automation/deploy_pgcluster.yml
  automation/roles/netdata/tasks/main.yml
  automation/roles/netdata/templates/netdata.conf.j2
  automation/vars/main.yml
Labels: enhancement, automation

#906 Add arm64 support
  automation/consul.yml
  automation/molecule/default/converge.yml
  automation/molecule/tests/variables/asserts/vip_manager_package_repo.yml
  automation/roles/add-repository/tasks/extensions.yml
  automation/roles/add-repository/tasks/main.yml
  automation/roles/cloud-resources/tasks/hetzner.yml
  automation/roles/cloud-resources/tasks/inventory.yml
  automation/roles/confd/defaults/main.yml
  automation/roles/consul/tasks/main.yml
  automation/roles/etcd/defaults/main.yml
  automation/roles/packages/defaults/main.yml
  automation/roles/packages/tasks/extensions.yml
  automation/roles/pgbackrest/tasks/main.yml
  automation/roles/pre-checks/tasks/extensions.yml
  automation/roles/vip-manager/defaults/main.yml
  automation/roles/wal-g/defaults/main.yml
  automation/roles/wal-g/tasks/main.yml
  automation/vars/Debian.yml
  automation/vars/RedHat.yml
Labels: new feature, automation

#922 TLS support on dedicated etcd nodes
  automation/deploy_pgcluster.yml
  automation/molecule/tests/etcd/etcd.yml
  automation/roles/confd/tasks/main.yml
  automation/roles/confd/templates/confd.toml.j2
  automation/roles/etcd/tasks/main.yml
  automation/roles/etcd/templates/etcd.conf.j2
  automation/roles/patroni/tasks/main.yml
  automation/roles/patroni/templates/patroni.yml.j2
  automation/roles/tls_certificate/copy/tasks/main.yml
  automation/roles/tls_certificate/generate/tasks/main.yml
  automation/roles/vip-manager/templates/vip-manager.yml.j2
  automation/vars/main.yml
Labels: automation

#924 AWS: update ansible for more description security group rules
  automation/roles/cloud-resources/tasks/aws.yml
Labels: enhancement, automation

#923 Add TLS Certificate Generation for Consul cluster
  automation/molecule/tests/etcd/etcd.yml
  automation/roles/confd/tasks/main.yml
  automation/roles/confd/templates/confd.toml.j2
  automation/roles/consul/defaults/main.yml
  automation/roles/consul/tasks/tls.yml
  automation/roles/etcd/tasks/main.yml
  automation/roles/etcd/templates/etcd.conf.j2
  automation/roles/patroni/tasks/main.yml
  automation/roles/patroni/templates/patroni.yml.j2
  automation/roles/pgbouncer/templates/pgbouncer.ini.j2
  automation/roles/tls_certificate/copy/tasks/main.yml
  automation/roles/tls_certificate/generate/tasks/main.yml
  automation/vars/main.yml
Labels: enhancement, automation
